<!DOCTYPE html>

<html lang="">

<head>
    <title>ML-Based Movie Success Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="static/layout/styles/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">

    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <ul>
                <li><i class="fa fa-clock-o"></i>Created and Developed by Luis Verde, Jennifer Mayfield, and Brent
                    Findley</li>

            </ul>
        </div>
    </div>

    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image:url('static/img/hollywood.jpg');">
        <!-- ################################################################################################ -->
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <!-- ################################################################################################ -->

                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#background">Background</a></li>
                        <li><a href="/#method">Methodology</a></li>
                        <li><a class="active"><a href="results.html">Our Results</a></li>
                        <li class="active"><a href="visualizations.html">Data Insight</a></li>
                    </ul>
                </nav>
                <!-- ################################################################################################ -->
            </header>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="pageintro" class="hoc clear">
            <article>
                <!-- ################################################################################################ -->
                <h3 class="heading">Can You Predict A Movie's Profitability Status?</h3>
                <p>We used Machine Learning-based technologies to find out.</p>


            </article>
        </div>
    </div>
    <a name="background">

    </a>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <div class='tableauPlaceholder' id='viz1556315338241' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;B2&#47;B23FNGRSG&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='path' value='shared&#47;B23FNGRSG' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;B2&#47;B23FNGRSG&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1556315338241'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
            </div>
            <div>
                <div class='tableauPlaceholder' id='viz1556315483775' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;ProfitableMoviesByCountry&#47;Dashboard1&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='ProfitableMoviesByCountry&#47;Dashboard1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;ProfitableMoviesByCountry&#47;Dashboard1&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1556315483775'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.minWidth = '420px'; vizElement.style.maxWidth = '650px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

            </div>
            <div>
                <div class='tableauPlaceholder' id='viz1556316656125' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book1_15563163981410&#47;Sheet1&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='Book1_15563163981410&#47;Sheet1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book1_15563163981410&#47;Sheet1&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1556316656125'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

            </div>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>


    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Designed by Brent Findley, Jennifer Mayfield, and Luis Verde</a></p>
            <p class="fl_right">University of Texas - Austin Data Visualization Bootcamp Final Project</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="static/layout/styles/jquery.min.js"></script>
    <script src="static/layout/styles/jquery.backtotop.js"></script>
    <script src="static/layout/styles/jquery.mobilemenu.js"></script>
    <script src="static/layout/styles/jquery.fitvids.js"></script>
</body>

</html>